.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  font-size:20px;
  color: $white;
    border-radius: 8px;
  border: none;
  padding: 4px 25px 7px;
  transition: background .5s;
  line-height: 1.1;
  font-family: $secondary-fonts;
}

@include respond-to($sm) {
  .btn{
    font-size: 22px;
  }
}