.footer {
  padding-bottom: 20vh;
  margin-bottom: 45px;
  .top-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #e5e5e5, #fbfbfb);
    padding: 20px 90px 20px;

    .logo {
      width: 134px;
      height: 28px;

    }

    .footer__title {
      position: relative;
      font-size: 21px;
      font-weight: 700;
    }

    .contact__toggle {
      position: absolute;
      display: inline-block;
      top: 50%;
      transform: translateY(-36%);
      font-size: 14px;
      font-weight: 400;
      left: -100%;
      z-index: 2;
      span {
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        line-height: 0.5;
        vertical-align: middle;
        font-family: $primary-fonts;
        margin-left: 10px;
        margin-bottom: 3px;
      }
    }

    .heading {
      position: relative;
      padding: 0 30px;
    }
  }

  .social-bar {
    display: flex;
    align-items: center;

    &__item {
      display: block;
      width: 28px;
      height: 24px;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }

      svg {
        width: 100%;
        height: auto;
      }
      &:hover{
        svg {
          fill: #71229f;
        }
      }
    }
  }

  .bottom-row {
    display: none;
    width: 90%;
    margin: 0 auto;
    padding: 20px 20px 0;
    font-size: 11px;
    font-family: $secondary-fonts;
    .src-heading {
      font-size: 24px;
      margin-bottom: 15px;
    }
    .src-list {
      padding-left: 15px;
      li {
        list-style: decimal;
        margin-bottom: 10px;
        line-height: 1.5;
      }

      a {
        display: inline-block;
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.disclaimer {
  padding: 30px 5.5% 33px;
  width: 100%;
  background-color: $white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .footer__text-img {
    width: 100%;
    max-width: 100%;
    height: 12vh;
  }
}

@include respond-to($md) {
  .footer {
    padding-bottom: 17vh;
    .top-row {
      justify-content: center;
      padding-top: 35px;
      background-image: none;
      background-color: $white;
      .footer__title,
      .social-bar,
      .logo{
        display: none;
      }
    }

    .heading {

      position: relative;
      .contact__toggle{
        font-size: 19px;
        width: max-content;

      }
    }
    .disclaimer {
      padding: 15px 1.5% 33px;
    }
  }
}