.burger {
  display: none;
  width: 52px;
  background-color: transparent;
  border: none;

  .line {
    display: block;
    width: 100%;
    background-color: #b2b2b2;
    height: 4px;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: $white;
  z-index: 1000;
  transition: .35s;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 3;
    padding: 45px 4.65% 20px;
  }

  .logo {
    width: 174px;
    height: 34px;
  }

  .main-logo {
    display: block;
    width: 130px;
    height: 30px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .header_active {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .35s;
  }

  &.header_active {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: height .35s;
  }
}


//  ------ backdrop

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 800;
}

@include respond-to($md) {
  .header {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }

    .lang-dropdown {
      position: absolute;
      left: 295px;
      transform: translateX(-100%);
      width: 65px;

      .dropbtn {
        display: none;
      }

      .dropdown-content {
        display: block;

        a {
          margin-bottom: 10px;
          border-bottom: none;
        }
      }
    }
  }
}

@include respond-to($sm) {
  .header {
    .container {
      padding: 30px 35px 20px;
    }

    .logo {
      width: 140px;
      height: 25px;
    }

    .main-logo {
      margin-left: 70px;
    }
  }
}

@include respond-to($xs) {
  .header {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .burger {
      width: 35px;
    }
    .main-logo {
      margin: 0 20px;
    }
  }
}

@include respond-to($xs) {
  .header {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .burger {
      width: 35px;
    }
    .main-logo {
      margin: 0 20px;
    }
  }
}