
.popup {
  max-width: 600px;
  width: 100%;
  min-height: 350px;
  background-image: linear-gradient(to right top, #fda47d, #ffe17f);
  -webkit-box-shadow: 0 12px 20px 5px rgba(253, 164, 125, 0.35);
  box-shadow: 0 12px 20px 5px rgba(253, 164, 125, 0.35);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 5px;
  font-family: $secondary-fonts;
  overflow-y: auto;
  max-height: 100%;
  font-size: 20px;
  z-index: 1100;

  .popup-title {
    color: #f46a00;
    font-size: 2em;
    margin-bottom: 1em;
  }

  &.active {
    display: block;
  }

  .popup-header {
    background: #fff;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }

  .popup-content {
    padding: 1em 1.5em 1em;
    background-color: #fff;
    p {
      margin-bottom: 1em;
    }
  }

  .popup-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 33px;
    right: 30px;
    cursor: pointer;
    display: block;
  }
  &-blue {
    background-image: linear-gradient(to right top, #7fdbfa, #81c6ff);
    -webkit-box-shadow: 0 12px 20px 5px rgba(129, 198, 255, 0.35);
    box-shadow: 0 12px 20px 5px rgba(129, 198, 255, 0.35);

    .popup-title {
      color: #1cadff;
    }
  }

  &-purple {
    background-image: linear-gradient(to right top, #8987fc, #a48aff);
    -webkit-box-shadow: 0 12px 20px 5px rgba(164, 135, 255, 0.35);
    box-shadow: 0 12px 20px 5px rgba(164, 135, 255, 0.35);
    .popup-title {
      color: #8f41e3;
    }
  }
}


#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 1000;
}

@include respond-to($sm) {
  .popup {
    max-width: 480px;
    font-size: 16px;
  }
}

