
$slider-top-offset: 200;

.section-how-works {

  .section__title {
    margin-bottom: 35px;
  }

  .sub-title {
    width: 56%;
    margin: 0 auto 45px;
    text-align: center;
  }
  .dashed-gradient{
    background-image: linear-gradient(to right, rgba(255,255,255,.9) 50%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
  }

  .description__item{
    position: relative;
    padding: 5px 0 11px;
    &:first-letter{
      font-size: 1.38em;
      line-height: 0;
    }
    &:before{
      position: absolute;
      content: '';
      display: block;
      background-color: $white;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      left: -17px;
      top: 15px;
      z-index: 1;
    }
    &.dashed-gradient:last-child{
      background-image: none;
    }
  }
  .bg-gray {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to bottom, #ececec 20%, #ffffff 80%);
  }

  .section-bg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .preparations {
    margin: -200px auto 0;
    overflow: visible;
    max-width: 1080px;
    .swiper-wrapper {
      justify-content: center;
    }
  }

  .preparation-card {
    background-color: transparent;
    max-width: 320px;
    width: 100%;
    z-index: 2;

    &__header {
      background-color: transparent;
    }

    &__title {
      font-family: $primary-fonts;
      font-weight: 700;
      font-style: italic;
      color: #000000;
      font-size: 30px;
      text-align: center;
      padding-bottom: 25px;
      padding-top: 10px;
    }

    &__description {
      font-family: $secondary-fonts;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.27;
      color: #ffffff;
      padding-left: 34px;
      padding-right: 34px;
      padding-top: 15px;
      padding-bottom: 12px;
      sup{
        font-size: 12px;
      }
    }

    &:first-child {
      position: absolute;
      left: 6%;
      top: -450px;
      transform: translate(-100%, -25%);
      .preparation-card__description {
        border-radius: 25px 0 0 25px;
        background-image: linear-gradient(to right bottom, #fb3400, #fe5a00, #ff7700, #ff9000, #ffa700);
        overflow: hidden;
      }
      &:hover {
        .preparation-card__description {
          transition: .35s;
          -webkit-box-shadow: 2px 2px 43px 0 rgba(255, 153, 0, .9);
          -moz-box-shadow: 2px 2px 43px 0 rgba(255, 153, 0, .9);
          box-shadow: 2px 2px 43px 0 rgba(255, 153, 0, .9);
        }
      }
    }

    &:last-child {
      position: absolute;
      right: 4%;
      top: -450px;
      transform: translate(100%, -25%);
      &:hover {
        .preparation-card__description {
          transition: .35s;
          -webkit-box-shadow: 2px 2px 43px 0 rgba(0, 156, 255, .9);
          -moz-box-shadow: 2px 2px 43px 0 rgba(0, 156, 255, .9);
          box-shadow: 2px 2px 43px 0 rgba(0, 156, 255, .9);
        }
      }

      .preparation-card__description {
        border-radius: 0 25px 25px 0;
        background-image: linear-gradient(to right top, #1778ff, #0094ff, #00acff, #00c1ff, #00d4fa);
        overflow: hidden;
      }
    }

    &:nth-child(2) {
      max-width: 500px;

      &:hover {
        .preparation-card__description {
          transition: .35s;
          -webkit-box-shadow: 2px 2px 43px 0 rgba(113, 34, 159, .9);
          -moz-box-shadow: 2px 2px 43px 0 rgba(113, 34, 159, .9);
          box-shadow: 2px 2px 43px 0 rgba(113, 34, 159, .9);
        }
      }

      .preparation-card__description {
        border-radius: 0 0 25px 25px;
        background-color: #71229f;
        overflow: hidden;
      }
    }
  }

  .swiper-container-initialized {
    overflow: hidden;
    padding-left: 50px;
    .swiper-wrapper {
      justify-content: flex-start;
    }
    .preparation-card {
      &:nth-child(n) {
        position: relative;
        transform: none;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        max-width: 500px;
      }
    }
  }

  .mouse-parallax__bg{
    z-index: 1;
    .img-parallax {
      &:first-child {
        bottom: 23%;
        left: 0;
        height: 294px;
      }

      &:nth-child(2) {
        right: 6.5%;
        bottom: 13%;
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: 1610px) {
  .section-how-works{
    .mouse-parallax__bg{
      .img-parallax {
        &:first-child {
          height: 210px;
        }

        &:nth-child(2) {
          height: 240px;
        }
      }
    }
  }
}