.section-information {
  .decor:before {
    top: 25%;
  }

  .section__text,
  .sub-title {
    margin: 0 auto 100px;
    max-width: 1200px;
  }

  .section__text {
    color: #7b7b7b;
    line-height: 1.3;
    font-weight: 300;
  }

  .types-headache {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 55px;
  }

  .card-types {
    max-width: 380px;
    padding: 0 16px 85px;
    position: relative;
    text-align: left;
    color: $white;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      left: 0;
      bottom: 0;
    }

    .bg-card {
      min-height: 230px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center bottom;
    }
  }

  .card-types__body {
    padding-left: 23px;
    padding-right: 23px;
  }

  .gradient-wrap {
    padding: 0 15px 40px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .95), rgba(255, 255, 255, 0));
  }

  .card-types__heading {
    min-height: 60px;
    padding-right: 105px;
    padding-left: 23px;
    margin-bottom: 20px;
  }

  .card-types__text {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 30px;
    text-transform: none;
  }

  .card-types__title {
    font-weight: 700;
    font-family: $secondary-fonts;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
  }

  .color-orange {
    color: #f46a00;
  }

  .color-blue {
    color: #1cadff;
  }

  .color-violet {
    color: #8f41e3;
  }
}

.types-headache {
  .swiper-wrapper {
    justify-content: space-between;
  }

  .swiper-slide {
    padding: 0 10px;
    width: 33.33%;
    display: flex;
    justify-content: center;

    &:first-child {
      .card-types {
        background-image: linear-gradient(to right top, #fda47d, #ffe17f);

        &:after {
          background-image: linear-gradient(to right, #FB3400, #FFA700);
        }
      }

      .btn {
        background-color: #f66d00;

        &:hover,
        &:focus {
          background-color: #FFA700;
        }
      }
    }

    &:nth-child(2) {
      .card-types {
        background-image: linear-gradient(to right top, #7fdbfa, #81c6ff);
        &:after {
          background-image: linear-gradient(to right, #00d5fb, #1678ff);
        }
      }

      .btn {
        background-color: #1678ff;

        &:hover,
        &:focus {
          background-color: #00d5fb;
        }
      }
    }

    &:last-child {
      .card-types {
        background-image: linear-gradient(to right top, #8987fc, #a48aff);
        &:after {
          background-image: linear-gradient(to right, #7031d3, #c547dc);
        }
      }

      .btn {
        background-color: #7031d3;

        &:hover,
        &:focus {
          background-color: #c547dc;
        }
      }
    }
  }
}