.section-video{
  .section__title{
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 70px;
  }
  .wrap-video{
    max-width: 1306px;
    width: 100%;
    margin: 0 auto;
    video{
      object-fit: inherit;
      display: block;
      width: 100%;
      height: auto;
    }
  }
}