.section-banner {
  padding-top: 210px;
  position: relative;
  padding-bottom: 120px;

  .container {
    display: flex;
  }

  .left-content,
  .text-content {
    width: 50%;
  }

  .text-content {
    padding-right: 40px;
  }

  .left-content {
    display: flex;
    padding-right: 6%;

    .wrap-img {
      display: flex;
      width: 71.5%;
      margin-left: auto;

      img {
        margin: auto;
      }
    }
  }


  .banner-slider {
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .swiper-container-initialized {
    .swiper-wrapper {
      flex-direction: row;
    }
  }

  .advantage-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 620px;
  }

  .advantage-list__text {
    display: flex;
    align-items: center;
    min-height: 70px;
    background:
            linear-gradient(#fff,#fff) padding-box,
            linear-gradient(45deg, #666666, #eeeeee, #666666,#eeeeee, #666666 ) border-box;
    border: 1.5px solid transparent;
    padding: 10px 30px 10px 70px;
    width: 100%;
    border-radius: 0 2em 2em 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 1;

    p:first-letter {
      font-size: 1.4em;
      line-height: 0;
    }

    sup {
      font-size: 16px;
    }
  }

  .advantage {
    position: relative;
    background-image: linear-gradient(to right top, #666666, #eeeeee, #666666,#eeeeee, #666666 );
    padding: 5px;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    margin-right: -45px;
    z-index: 2;
  }

  .substrate {
    display: flex;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);

    &_purlpe {
      background-image: linear-gradient(to right bottom, #b107a1, #c007b1, #cf08c2, #dd09d3, #ec0ce4);
    }

    &_blue {
      background-image: linear-gradient(to right bottom, #025ca4, #0264b1, #026cbf, #0175cc, #007dda);
    }

    &_orange {
      background-image: linear-gradient(to right bottom, #ce7200, #d77902, #e17f05, #ea8608, #f48d0b);
    }
  }

  .wrap-icon {
    margin: auto;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: $white;
    background-repeat: no-repeat;
    -webkit-background-size: 65%;
    background-size: 65%;
    background-position: 40% center;
  }

  .mouse-parallax__bg {
    .img-parallax {
      &:first-child {
        top: 4px;
        left: 0;
        height: 370px;
      }

      &:nth-child(2) {
        right: 5%;
        top: 0;
        height: 234px;
      }
    }
  }

  .mouse-parallax__bg-2 {
    .img-parallax {
      &:first-child {
        top: 17%;
        left: 21.2%;
        height: 193px;
      }

      &:nth-child(2) {
        top: 10%;
        left: 0;
        height: 447px;
      }

      &:nth-child(3) {
        right: 3%;
        top: 19%;
        height: 474px;
      }
    }
  }
}

@media screen and (max-width: 1610px) {
  .section-banner {
    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 320px;
        }

        &:nth-child(2) {
          height: 190px;
        }
      }
    }

    .mouse-parallax__bg-2 {
      .img-parallax {
        position: absolute;

        &:first-child {
          height: 130px;
        }

        &:nth-child(2) {
          height: 340px;
        }

        &:nth-child(3) {
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .section-banner {
    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 240px;
        }

        &:nth-child(2) {
          height: 135px;
        }
      }
    }

    .mouse-parallax__bg-2 {
      .img-parallax {
        position: absolute;

        &:first-child {
          height: 100px;
        }

        &:nth-child(2) {
          height: 240px;
        }

        &:nth-child(3) {
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-banner {
    padding-bottom: 60px;

    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 210px;
        }

        &:nth-child(2) {
          height: 110px;
        }
      }
    }

    .mouse-parallax__bg-2 {
      .img-parallax {
        position: absolute;

        &:first-child {
          height: 80px;
        }

        &:nth-child(2) {
          height: 210px;
        }

        &:nth-child(3) {
          height: 200px;
        }
      }
    }

    .medicament-name {
      font-size: 50px;
    }

    .advantage-list__text {
      font-size: 20px;
    }
  }
}

@include respond-to($md) {
  .section-banner {
    padding-bottom: 0;
    padding-top: 115px;

    .swiper-container {
      padding-bottom: 0;
    }

    .advantage {
      width: 92px;
      height: 92px;
    }

    .substrate {
      width: 82px;
      height: 82px;
    }

    .container {
      flex-wrap: wrap;
    }

    .left-content,
    .text-content {
      width: 100%;
      padding-right: 0;
    }

    .left-content {
      padding-right: 0;

      .wrap-img {
        width: 65%;
        margin: 0 auto;
      }
    }

    .text-content .title-site {
      display: none;
    }

    .advantage-list__item {
      max-width: none;
      margin: 60px 0 40px;
    }

    .advantage-list__text {
      border-radius: 0;
      border-left: none;
      border-right: none;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .advantage {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -75%);
      z-index: 1;
    }

    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 280px;
          top: 22%;
          left: -22%;
        }

        &:nth-child(2) {
          top: 28%;
          height: 135px;
        }
      }
    }

    .mouse-parallax__bg-2 {
      .img-parallax {

        &:first-child {
          display: none;
        }

        &:nth-child(2) {
          height: 240px;
          top: 48%;
        }

        &:nth-child(3) {
          height: 300px;
          top: 40%;
          right: 0;
        }
      }
    }

    .images-list__item {
      margin-bottom: 10px;
    }
  }

  .swiper-wrapper {
    padding-top: 15px;
  }
  .advantage-list__text {
    font-size: 25px;
  }
}

@include respond-to($sm) {
  .section-banner {
    padding-top: 90px;

    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 241px;
          top: 17%;
          left: -25%;
        }

        &:nth-child(2) {
          top: 20%;
          height: 130px;
          right: -6%;
        }
      }
    }

    .mouse-parallax__bg-2 {
      .img-parallax {

        &:nth-child(2) {
          top: 42%;
          left: -3%;
        }

        &:nth-child(3) {
          height: 170px;
          top: 39%;
        }
      }
    }
  }
}