.section-reasons {
  background-image: linear-gradient(to top, #e5e5e5 50%, transparent);
  padding-top: 40px;

  .section__text {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .left-content {
    width: 60%;

    .section__text {
      max-width: 665px;
    }

    .text-content {
      padding-left: 16.5%;
    }


  }

  .text-content_mobile {
    display: none;
  }

  .block-gradient-bg {
    background-image: linear-gradient(to right, #ffffff, transparent);
    padding: 55px 50px 55px 16.5%;
    margin-bottom: 70px;
  }

  .right-content {
    width: 40%;
    padding-left: 50px;
    padding-right: 30px;

    .section__text {
      margin-bottom: 22px;
    }
  }

  .section__title {
    width: 100%;
    padding-left: 0;
  }

  .factors-box {
    max-width: 570px;
  }

  .factors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      width: 30%;
      max-width: 170px;
      background-color: #f1e3db;
      padding: 0 15px 10px;
      margin-bottom: 18px;
      font-size: 15px;
      font-weight: 700;
      text-align: center;

      &:nth-child(3n+2) {
        background-color: #d8e9ee;
      }

      &:nth-child(3n+3) {
        background-color: #d7d0e0;
      }
    }
  }

  .wrap-icon {
    min-height: 105px;
    max-width: 160px;
    background-repeat: no-repeat;
    -webkit-background-size: 48%;
    background-size: 48%;
    background-position: center bottom;
    margin: 0 auto 17px;
  }
}

@media screen and (max-width: 1420px) {
  .section-reasons {
    .left-content {
      width: 50%;

      .text-content {
        padding-left: 14%;
      }
    }

    .block-gradient-bg {
      padding-left: 14%;
    }

    .right-content {
      width: 50%;
    }
  }
}

@include respond-to($md) {
  .section-reasons {
    padding-top: 0;
    padding-bottom: 60px;
    background-image: linear-gradient(to right top, #c5d1e3, #f9fafc, #ffffff);

    .section__title {
      margin-bottom: 20px;
    }

    .wrap-icon {
      -webkit-background-size: 42%;
      background-size: 42%;
    }

    .left-content,
    .right-content {
      width: 100%;
      padding: 0 40px;
    }

    .block-gradient-bg,
    .left-content .text-content {
      background-image: none;
      padding: 0;
    }

    .left-content .text-content,
    .block-gradient-bg,
    .text-content_mobile,
    .factors-box {
      max-width: 640px;
      margin: 0 auto;
    }

    .section__text {
      font-size: 25px;
      padding-bottom: 30px;
    }

    .text-content_mobile {
      display: block;
    }

    .text-content {
      display: none;
    }

    .factors-box {
      .section__text {
        line-height: 1;
        font-size: 23px;
      }
    }

    .factors-list {
      padding-top: 45px;
      padding-bottom: 45px;
      max-width: 100%;
      margin: auto;

      &__item {
        width: 33%;
        max-width: 200px;
      }
    }
  }
}

@include respond-to($sm) {
  .section-reasons {
    text-align: center;

    .section__title {
      margin-bottom: 20px;
    }

    .factors-list {
      max-width: 400px;
    }

    .factors-list__item {
      width: calc(50% - 7px);
      max-width: 190px;
    }

    .wrap-icon {
      -webkit-background-size: 35%;
      background-size: 35%;
    }
  }
}


@include respond-to($xs) {
  .section-reasons {
    .factors-list__item {
      min-height: 75px;
      font-size: 12px;
      padding: 0 8px 15px;
    }
    .left-content,
    .right-content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}


@include respond-to($xs) {
  .section-reasons {
    .factors-list__item {
      min-height: 75px;
      font-size: 12px;
      padding: 0 8px 15px;
    }
    .left-content,
    .right-content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}