.section-video{
  padding-bottom: 180px;
  z-index: 1;
  .section__title{
    font-weight: 300;
    margin-bottom: 70px;
  }
  .wrap-video{
    max-width: 1306px;
    width: 100%;
    margin: 0 auto;
    video{
      object-fit: inherit;
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .mouse-parallax__bg{
    .img-parallax {
      &:first-child {
        top: 25%;
        left: -11%;
        height: 990px;
      }

      &:nth-child(2) {
        right: -10%;
        top: 20%;
        height: 1140px;
      }
      &:nth-child(3) {
        right: -1.5%;
        bottom: 4%;
        height: 650px;
      }
    }
  }
}

@media screen and (max-width: 1610px) {
  .section-video{
    .mouse-parallax__bg{
      .img-parallax {
        &:first-child {
          height: 630px;
        }

        &:nth-child(2) {
          height: 800px;
        }
        &:nth-child(3) {
          height: 440px;
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .section-video{

  }
}
@media screen and (max-width: 1200px) {
  .section-video{
    padding-top: 100px;
    padding-bottom: 100px;
    .mouse-parallax__bg{
      .img-parallax {
        &:nth-child(3) {
          height: 400px;
        }
      }
    }
  }
}

@include respond-to($md) {

}
@include respond-to($sm) {
  .section-video{
    .section__title{
      font-size: 25px;
      margin-bottom: 50px;
    }
    .mouse-parallax__bg{
      .img-parallax {
        &:nth-child(3) {
          display: none;
        }
        &:first-child {
          top: 15%;
          left: -11%;
          height: 436px;
        }

        &:nth-child(2) {
          right: -12%;
          top: 13%;
          height: 426px;
        }
      }
    }
  }
}