.section-apply {
  padding-bottom: 180px;

  .container {
    display: flex;
    justify-content: center;
  }

  .left-part,
  .right-part {
    width: 50%;
  }

  .left-part {
    display: flex;
    padding-left: 30px;
  }

  .right-part {
    padding-left: 90px;
    padding-right: 40px;
  }

  .content-left {
    margin-left: auto;
    max-width: 778px;
    width: 100%;
  }

  .images-list {
    margin-left: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    &__item {
      width: 33.3%;
      padding: 0 8px;
      margin-bottom: 22px;

      .wrap-img {
        display: block;
        position: relative;
        border: 2px solid #0097FF;
        border-radius: 22px;
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 2;
          background-color: #ffffff;
          opacity: .7;
          transition: opacity .35s;
        }

        &:hover,
        &.active {
          box-shadow: 0 2px 65px 0 rgba(0, 68, 255, 0.4);

          &:before {
            opacity: 0;
          }
        }
      }
    }
  }

  .sub-title {
    margin-bottom: 60px;
    line-height: 1;
    max-width: 570px;
  }

  .pain-syndrome-list {
    display: inline-flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 55px;

    &__item {
      position: relative;
      margin-bottom: 12px;

      .syndrom {
        position: relative;
        font-style: italic;
        font-weight: 500;
        font-size: 35px;
        line-height: 1;
        padding: 6px 44px;
        border-radius: 10px;
        font-family: $primary-fonts;
        text-transform: uppercase;
        background-color: #ffffff;

        &:first-letter {
          font-size: 1.43em;
          font-weight: 700;
          line-height: 1;
        }

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #000000;
          left: 28px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    &__item.active-syndrom {

      .syndrom {
        color: #ffffff;
        background-image: linear-gradient(to right bottom, #00caf7, #1678ff);
      }

      .syndrom:before {
        background-color: #ffffff;
      }
    }

    &__item.active-syndrom {
      &:before {
        position: absolute;
        right: -115%;
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        background-image: linear-gradient(to right bottom, #ffffff 30%, #3b3b3b);
      }
    }
  }

  .section__text {
    max-width: 570px;
  }

  .mouse-parallax__bg {
    .img-parallax {
      &:first-child {
        bottom: 22%;
        left: -3%;
        height: 698px;
      }

      &:nth-child(2) {
        right: 6.5%;
        bottom: 10%;
        height: 423px;
      }
    }
  }
}

@media screen and (max-width: 1610px) {
  .section-apply {
    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 530px;
        }

        &:nth-child(2) {
          height: 260px;
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .section-apply {
    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 280px;
          bottom: 30%;
        }

        &:nth-child(2) {
          height: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-apply {
    padding-bottom: 60px;

    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 390px;
          bottom: 43%;
        }
      }
    }

    .pain-syndrome-list__item .syndrom {
      font-size: 27px;
    }

    .right-part {
      padding-left: 20px;
    }
  }
}

@include respond-to($md) {
  .section-apply {
    .images-list__item {
      width: 50%;
    }

    .pain-syndrome-list__item .syndrom {
      font-size: 24px;
      padding-left: 35px;
      padding-right: 20px;

      &:before {
        left: 20px;
      }
    }
  }
}

@include respond-to($sm) {
  .section-apply {
    .container {
      flex-wrap: wrap;
    }
    .left-part,
    .right-part {
      padding-left: 40px;
      padding-right: 40px;
      width: 100%;
    }
    .images-list__item {
      width: 33.33%;
    }
  }
}

@include respond-to($xs) {
  .section-apply {
    .images-list__item {
      width: 50%;
    }
  }
}
