$slider-top-offset: 200;

.section-how-works {

  .section__title {
    margin-bottom: 35px;
  }

  .sub-title {
    width: 56%;
    margin: 0 auto 45px;
    text-align: center;
  }

  .dashed-gradient {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
  }

  .description__item {
    position: relative;
    padding: 5px 0 11px;

    &:first-letter {
      font-size: 1.38em;
      line-height: 0;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-color: $white;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      left: -17px;
      top: 15px;
      z-index: 1;
    }

    &.dashed-gradient:last-child {
      background-image: none;
    }
  }

  .bg-gray {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to bottom, #ececec 20%, #ffffff 80%);
  }

  .section-bg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .section-bg_mobile {
    display: none;
    img {
      max-width: none;
      width: 100%;
    }
  }

  .preparations {
    margin: -200px auto 0;
    overflow: visible;
    max-width: 1080px;

    .swiper-wrapper {
      justify-content: center;
    }
  }

  .preparation-card {
    background-color: transparent;
    max-width: 320px;
    width: 100%;
    z-index: 2;

    &__header {
      background-color: transparent;
    }

    &__title {
      font-family: $primary-fonts;
      font-weight: 700;
      font-style: italic;
      color: #000000;
      font-size: 30px;
      text-align: center;
      padding-bottom: 25px;
      padding-top: 10px;
    }

    &__description {
      font-family: $secondary-fonts;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.27;
      color: #ffffff;
      padding-left: 34px;
      padding-right: 34px;
      padding-top: 15px;
      padding-bottom: 12px;

      sup {
        font-size: 12px;
      }
    }

    &:first-child {
      position: absolute;
      left: 6%;
      top: -450px;
      transform: translate(-100%, -25%);

      .preparation-card__description {
        border-radius: 25px 0 0 25px;
        background-image: linear-gradient(to right bottom, #fb3400, #fe5a00, #ff7700, #ff9000, #ffa700);
        overflow: hidden;
      }

      &:hover {
        .preparation-card__description {
          transition: .35s;
          -webkit-box-shadow: 2px 2px 43px 0 rgba(255, 153, 0, .9);
          -moz-box-shadow: 2px 2px 43px 0 rgba(255, 153, 0, .9);
          box-shadow: 2px 2px 43px 0 rgba(255, 153, 0, .9);
        }
      }
    }

    &:last-child {
      position: absolute;
      right: 4%;
      top: -450px;
      transform: translate(100%, -25%);

      &:hover {
        .preparation-card__description {
          transition: .35s;
          -webkit-box-shadow: 2px 2px 43px 0 rgba(0, 156, 255, .9);
          -moz-box-shadow: 2px 2px 43px 0 rgba(0, 156, 255, .9);
          box-shadow: 2px 2px 43px 0 rgba(0, 156, 255, .9);
        }
      }

      .preparation-card__description {
        border-radius: 0 25px 25px 0;
        background-image: linear-gradient(to right top, #1778ff, #0094ff, #00acff, #00c1ff, #00d4fa);
        overflow: hidden;
      }
    }

    &:nth-child(2) {
      max-width: 500px;

      &:hover {
        .preparation-card__description {
          transition: .35s;
          -webkit-box-shadow: 2px 2px 43px 0 rgba(113, 34, 159, .9);
          -moz-box-shadow: 2px 2px 43px 0 rgba(113, 34, 159, .9);
          box-shadow: 2px 2px 43px 0 rgba(113, 34, 159, .9);
        }
      }

      .preparation-card__description {
        border-radius: 0 0 25px 25px;
        background-color: #71229f;
        overflow: hidden;
      }
    }
  }

  .swiper-container-initialized {
    overflow: hidden;
    padding-left: 50px;

    .swiper-wrapper {
      justify-content: flex-start;
    }

    .preparation-card {
      &:nth-child(n) {
        position: relative;
        transform: none;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        max-width: 500px;
      }
    }
  }

  .mouse-parallax__bg {
    z-index: 1;

    .img-parallax {
      &:first-child {
        bottom: 23%;
        left: 0;
        height: 294px;
      }

      &:nth-child(2) {
        right: 6.5%;
        bottom: 13%;
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: 1640px) {
  .section-how-works {
    .mouse-parallax__bg {
      .img-parallax {
        &:first-child {
          height: 210px;
        }

        &:nth-child(2) {
          height: 240px;
        }
      }
    }

    .preparation-card {
      &:last-child {
        transform: translate(14vw, -25%);
      }

      &:first-child {
        left: 0;
        transform: translate(-11vw, -25%);
      }
    }
  }
}


@media screen and (max-width: 1380px) {
  .section-how-works {
    .section-bg_desktop {
      max-width: 800px;
    }
    .preparation-card {
      max-width: 280px;
      &:first-child {
        top: -300px;
        left: 10vw;
      }
      &:last-child {
        top: -300px;
        right: 12vw;
      }
    }
    .preparation-card__description {
      font-size: 14px;
    }
  }
}

@include respond-to($md) {
  .section-how-works {

    .helper-wrapper {
      background-color: $white;
    }

    .swiper-wrapper {
      padding-top: 15px;
      padding-bottom: 45px;
    }

    .preparation-card__description {
      font-size: 33px;
    }

    .preparation-card__title {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      min-height: 3em;
      font-size: 46px;
      line-height: 1;
    }

    .preparation-card__description {
      padding-left: 70px;
    }

    .description__item:before {
      left: -30px;
      top: 0.75em;
    }

    .preparation-card {
      display: flex;
      flex-direction: column;
      height: auto;

      &:nth-child(n) {
        .preparation-card__description {
          border-radius: 25px;
          flex-grow: 1;
        }
      }
    }

    .sub-title {
      width: 75%;
    }

    .section-bg_mobile {
      position: relative;
      display: block;
      .slider-additional-btns {
        position: absolute;
        width: 54%;
        padding-top: 58%;
        top: 6%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        
        a {
          display: flex;
          width: 40px;
          height: 40px;
          background: url('../assets/img/plus.svg') no-repeat center;
          -webkit-background-size: 100%;
          background-size: 100%;
          &:nth-child(2) {
            align-self: flex-end;
          }
          &:last-child {
            margin-right: 5%;
          }
        }

        .slider-pagination {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          z-index: 2;
        }
      }
    }

    .swiper-container {
      margin-top: -50px;
    }

    .section-bg_desktop {
      display: none;
    }

    .bg-gray {
      background-image: none;
    }
  }
}

@include respond-to($sm) {
  .section-how-works {
    .swiper-container-initialized .preparation-card:nth-child(n) {
      max-width: 65vw;
    }

    .preparation-card__description {
      font-size: 24px;
    }

    .preparation-card__title {
      font-size: 6vw;
    }

    .sub-title {
      width: 85%;
      font-size: 19px;
      font-weight: 400;
      color: #666666;
    }

    .preparation-card__description {
      padding: 5px 20px 5px 50px;
    }

    .description__item {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .description__item:before {
      left: -35px;
      top: 35px;
    }

    .mouse-parallax__bg .img-parallax:first-child {
      bottom: 47%;
      opacity: .4;
    }

    .mouse-parallax__bg .img-parallax:nth-child(2) {
      right: 1.5%;
      bottom: 51%;
      height: 200px;
    }
  }
}

@media screen and (max-width: 580px) {
  .section-how-works {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .section-how-works {
    .swiper-container {
      padding-left: 20px;
    }
    .preparation-card__title {
      min-height: 100px;
    }
    .preparation-card__description {
      padding-left: 50px;
      padding-right: 30px;
    }

    .description__item {
      font-size: 20px;

      &:before {
        left: -25px;
      }
    }
  }
}

@include respond-to($xs) {
  .section-how-works .description__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .section-how-works {
    .swiper-container {
      padding-left: 20px;
    }
    .preparation-card__title {
      min-height: 100px;
    }
    .preparation-card__description {
      padding-left: 50px;
      padding-right: 30px;
    }

    .description__item {
      font-size: 20px;

      &:before {
        left: -25px;
      }
    }
  }
}

@include respond-to($xs) {
  .section-how-works .description__item {
    font-size: 16px;
  }
}
