.section-how-take {
  min-height: 700px;
  padding-bottom: 55px;
  padding-top: 60px;
  background-image: linear-gradient(to top, #dce3ef, #ffffff);

  .section__title {
    text-transform: none;
    .medicament-name_middle {
      font-size: 0.85em;
      text-transform: uppercase;
    }
  }

  .bg-section-top{
    background-repeat: no-repeat;
    -webkit-background-size: 25%;
    background-size: 25%;
    background-position: -3.5% bottom;
    min-height: 540px;
    display: flex;
    align-items: flex-end;
  }
  .block-content {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
  }

  .bottom-row {
    padding-top: 40px;
    margin: 0 auto;
    border-top: 2px solid $white;
    font-size: 26px;
    font-family: $helper-font;
  }

  .section__text {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    width: 100%;
    max-width: 1080px;
  }

  .take-list {
    display: flex;
    padding-bottom: 50px;

    .swiper-wrapper {
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }

    .swiper-slide {
      width: auto;
      padding: 0 10px;
    }
  }

  .take-card {
    max-width: 222px;
    height: 100%;
    width: 100%;
    background-color: $white;
    border: 1px solid #ff7500;
    border-radius: 15px;
    padding: 25px 22px 40px;
    position: relative;

    &:hover:after {
      transform: translateX(-50%) scale(1.5);
      box-shadow: none;
    }

    &:after,
    &:before {
      position: absolute;
      content: '';
      display: block;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    &:after {
      width: 20px;
      height: 20px;
      background-image: linear-gradient(to right, #f63b00, #ffa500);
      -webkit-box-shadow: 0 0 0 9px rgba(255, 255, 255, 1);
      -moz-box-shadow: 0 0 0 9px rgba(255, 255, 255, 1);
      box-shadow: 0 0 0 9px rgba(255, 255, 255, 1);
      z-index: 3;
      border-radius: 50%;
      bottom: -12px;
      transition: .35s;
    }

    &:before {
      width: 1px;
      height: 50px;
      bottom: -50px;
      background-color: #ff7500;
    }

    &__top-content {
      min-height: 120px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: 0 0;
      margin-bottom: 20px;
    }

    &__body {
      font-family: $secondary-fonts;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      text-transform: lowercase;
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-how-take {
    padding-top: 0;
  }
}

@include respond-to($md) {
  .section-how-take {
    .take-card {
      margin-left: auto;
    }
   .take-list .swiper-slide {
     padding-right: 80px;
   }
  }
}

