html {
  font: 400 20px/1.3 $secondary-fonts;
}

body {
  background: $white;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #323232;
  opacity: 0.67;
  z-index: 800;
}

.title-site,
.section__title {
  position: relative;
  font-family: $primary-fonts;
  font-style: italic;
  line-height: 1.1;
  color: #000000;
  text-transform: uppercase;
  padding-left: 60px;
}

.title-site {
  font-weight: 300;
  font-size: 41px;
  margin-bottom: 24px;
}

.title-site_mobile {
  font-family: $primary-fonts;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 300;
  font-size: 41px;
  margin-bottom: 8.5%;
  display: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section__heading {
  text-align: center;
  margin: 0 auto;
}

.section__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 95px;
  display: inline-block;
  &_big {
    font-size: 45px;
  }
}

.section__text {
  font-size: 23px;
  font-weight: 400;
  line-height: 1.3;
}

.decor {
  display: inline-block;
  width: 32px;
  height: 24px;
  background-color: transparent;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  position: absolute;
  z-index: 1;
  .line {
    display: block;
    width: 100%;
    background-color: #bbbbbb;
    height: 4px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.registered {
  font-size: 20px;
  font-style: normal;

  &_large {
    font-size: 40px;
  }
}

.title {
  font-family: $secondary-fonts;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  @include respond-to($sm) {
    font-size: 28px;
  }
}

.color-gray {
  color: #b8b8b8;
}

.color-orange {
  color: #ff7500;
}

.color-violet {
  color: #9e4ad3;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.medicament-name {

  color: #000000;
  font-weight: 500;
  font-size: 65px;
  text-transform: none;

  &_middle {
    font-weight: 500;
    font-size: 44px;
  }

  &_small {
    font-weight: 500;
    font-size: 20px;
    font-family: $primary-fonts;
    font-style: italic;
  }
}

.mouse-parallax {
  position: relative;
  height: 100%;
}

.mouse-parallax__bg,
.mouse-parallax__bg-2 {
  position: absolute;
  width: 110%;
  height: 110%;
  pointer-events: none;
  z-index: -1;

  .img-parallax {
    position: absolute;
    width: auto;
  }
}




@media screen and (max-width: 1200px) {
  .title-site {
    font-size: 35px;
  }
  .section__title {
    font-size: 34px;
  }
  .medicament-name_middle {
    font-size: 40px;
  }
  .section {
    padding-top: 60px;
  }
}

@include respond-to($md) {
  .section__title {
    font-size: 45px;
    padding-left: 50px;
  }

  .title-site_mobile {
    display: block;
  }
  .title-site {
    display: none;
  }
  .section__text {
    font-size: 22px;
  }
}

@include respond-to($sm) {
  .section__title {
    padding-left: 0;
  }
  .medicament-name_middle {
    font-size: 45px;
  }
  .section__text {
    font-size: 18px;
  }
  .title-site_mobile{
    font-size: 25px;
  }
  .decor{
    display: none;
  }
}

@include respond-to($xs) {
  .section__text {
    font-size: 18px!important;
  }
  .section__title {
    font-size: 30px!important;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .medicament-name_middle {
    font-size: 36px;
  }
}