/**
*TEXT UTILITIES
*/

.text {
  &_md{
    font-size: 21px;
  }
  &_middle{
    font-size: 23px;
    font-weight: 300;
  }

}
.title{
  font-family: $secondary-fonts;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 40px;
}
.sub-title{
  line-height: 1.3;
}
