/**
*TEXT UTILITIES
*/

.text {
  &_small{
    font-size: 20px;
    font-weight: 400;
  }

  &_md{
    font-size: 21px;
  }
  &_middle{
    font-size: 22px;
    font-weight: 300;
  }

  &_large {
    font-size: 50px;
  }
}


