/*
* Fonts
*/
$primary-fonts: 'Roboto', sans-serif;
$secondary-fonts: 'Affect', sans-serif;


/*
* Colors
*/

$white: #fff;
$black: #000000;


/*
* Breakpoints
*/

$xs: '(max-width: 420px)';
$sm: '(max-width: 660px)';
$md: '(max-width: 767px)';
$lg: '(max-width: 992px)';
$xl: '(max-width: 1200px)';







