/*
* Fonts
*/
$primary-fonts: 'Roboto', sans-serif;
$secondary-fonts: 'Affect', sans-serif;
$helper-font:'Muread Pro', sans-serif;

/*
* Colors
*/

$white: #fff;
$black: #000000;


/*
* Breakpoints
*/

$xs: '(max-width: 440px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 1080px)';
$lg: '(max-width: 1200px)';







